/*Fossa CSS Framework*/
body{margin: 0; padding: 0;}

.grid1	{width: 60px;}
.grid2	{width: 140px;}
.grid3	{width: 220px;}
.grid4	{width: 300px;}
.grid5	{width: 380px;}
.grid6	{width: 460px;}
.grid7	{width: 540px;}
.grid8	{width: 620px;}
.grid9	{width: 700px;}
.grid10	{width: 780px;}
.grid11	{width: 860px;}
.grid12	{width: 940px;}

/*Extended 960 grid 
.grid13	{width: 1020px;}
.grid14	{width: 1100px;}
.grid15	{width: 1180px;}
.grid16	{width: 1260px;}
.grid17	{width: 1340px;}
.grid18	{width: 1420px;}
.grid19	{width: 1500px;}
.grid20	{width: 1580px;}
.grid21	{width: 1660px;}
.grid22	{width: 1740px;}
.grid23	{width: 1820px;}
.grid24	{width: 1900px;}
 */
 		body {background: yellow;}
		.wrapper {margin:0 auto; width: 1680px; overflow: hidden;} 
		#header {width: 240px; height: 800px; margin: 0 10px 0 10px; float: left; background: #f6f6f6;}
		#menu {width: 160px; height: 800px; margin: 0 10px 0 10px; float: left; background: #f9f9f9;}
		#content {width: 960px; height: 800px; margin: 0 10px 0 10px; float: left; background: #fbfbfb;}
		#sidebar{width: 240px; height: 800px; margin: 0 10px 0 10px; float: left; background: #8d8d8d;}
		#footer{width: 1660px; height: 240px; margin: 0 10px 0 10px; float: left; background: #6d6d6d;}
/* @media (max-width: 2560px) { 
body {background: grey;}
} 
@media (max-width: 2048px) { 
		body {background: yellow;}
		.wrapper {margin:0 auto; width: 1680px; overflow: hidden;} 
		#header {width: 240px; height: 800px; margin: 0 10px 0 10px; float: left; background: #f6f6f6;}
		#menu {width: 160px; height: 800px; margin: 0 10px 0 10px; float: left; background: #f9f9f9;}
		#content {width: 960px; height: 800px; margin: 0 10px 0 10px; float: left; background: #fbfbfb;}
		#sidebar{width: 240px; height: 800px; margin: 0 10px 0 10px; float: left; background: #8d8d8d;}
		#footer{width: 1660px; height: 240px; margin: 0 10px 0 10px; float: left; background: #6d6d6d;}
}  */
@media (max-width: 1680px) { 
		body {background: pink;}
		.wrapper {margin:0 auto; width: 1460px; overflow: hidden;} 		
		#header {width: 220px; height: 960px; margin: 0 10px 0 10px; float: left; background: #f6f6f6;} 
		#menu {width: 940px; height: 60px; margin: 0 10px 0 10px; float: left; background: #f9f9f9;}
		#content {width: 940px; height: 900px; margin: 0 10px 0 10px; float: left; background: #fbfbfb;}
		#sidebar{width: 240px; height: 900px; margin: 0 10px 0 10px; float: left; background: #8d8d8d;}
		#footer{width: 1440px; height: 240px; margin: 0 10px 0 10px; float: left; background: #6d6d6d;} 
}
@media (max-width: 1480px) {
		body {background: yellow;}
		.wrapper {margin:0 auto; width: 1220px; overflow: hidden;} 		
		#header {width: 220px; height: 960px; margin: 0 10px 0 10px; float: left; background: #f6f6f6;} 
		#menu {width: 960px; height: 60px; margin: 0 10px 0 10px; float: left; background: #f9f9f9;}
		#content {width: 700px; height: 900px; margin: 0 10px 0 10px; float: left; background: #fbfbfb;}
		#sidebar{width: 240px; height: 900px; margin: 0 10px 0 10px; float: left; background: #8d8d8d;}
		#footer{width: 1200px; height: 240px; margin: 0 10px 0 10px; float: left; background: #6d6d6d;}
		} 
@media (max-width: 1280px) {
		body {background: pink;}
		.wrapper {margin:0 auto; width: 960px; overflow: hidden;} 
		#header {width: 940px; height: 140px; margin: 0 10px 0 10px; float: left; background: #f6f6f6;} 
		#menu {width: 940px; height: 40px; margin: 0 10px 0 10px; float: left; background: #f9f9f9;}
		#content {width: 700px; height: 780px; margin: 0 10px 0 10px; float: left; background: #fbfbfb;}
		#sidebar{width: 220px; height: 780px; margin: 0 10px 0 10px; float: left; background: #8d8d8d;}
		#footer{width: 940px; height: 240px; margin: 0 10px 0 10px; float: left; background: #6d6d6d;}

}
@media (max-width: 980px) {
		body {background: yellow;}
		.wrapper {margin:0 auto; width: 800px; overflow: hidden;} 		
		#header {width: 780px; height: 140px; margin: 0 10px 0 10px; float: left; background: #f6f6f6;} 
		#menu {width: 780px; height: 40px; margin: 0 10px 0 10px; float: left; background: #f9f9f9;}
		#content {width: 540px; height: 780px; margin: 0 10px 0 10px; float: left; background: #fbfbfb;}
		#sidebar{width: 220px; height: 780px; margin: 0 10px 0 10px; float: left; background: #8d8d8d;}
		#footer{width: 780px; height: 240px; margin: 0 10px 0 10px; float: left; background: #6d6d6d;}
}
@media (max-width: 800px) {
		body {background: pink;}
		.wrapper {margin:0 auto; width: 100%; overflow: hidden; } 		
		#header {width: 100%; height: 140px; margin: 0 10px 0 10px; float: left; background: #f6f6f6;} 
		#menu {width: 100%; height: 40px; margin: 0 10px 0 10px; float: left; background: #f9f9f9;}
		#content {width: 100%; height: 780px; margin: 0 10px 0 10px; float: left; background: #fbfbfb;}
		#sidebar{width: 100%; height: 780px; margin: 0 10px 0 10px; float: left; background: #8d8d8d;}
		#footer{width: 100%; height: 240px; margin: 0 10px 0 10px; float: left; background: #6d6d6d;}
}