/*Fossa CSS Framework*/
body{margin: 0; padding: 0;}

body {background: yellow;}
.wrapper {margin:0 auto; width: 1680px; overflow: hidden;} 
#header {width: 240px; height: 800px; margin: 0 10px 0 10px; float: left; background: #f6f6f6;}
#menu {width: 160px; height: 800px; margin: 0 10px 0 10px; float: left; background: #f9f9f9;}
#content {width: 960px; height: 800px; margin: 0 10px 0 10px; float: left; background: #fbfbfb;}
#sidebar{width: 240px; height: 800px; margin: 0 10px 0 10px; float: left; background: #8d8d8d;}
#footer{width: 1660px; height: 240px; margin: 0 10px 0 10px; float: left; background: #6d6d6d;}
 
@media (max-width: 1680px) { 
		body {background: pink;}
		.wrapper {margin:0 auto; width: 1460px; overflow: hidden;} 		
		#header {width: 220px; height: 960px; margin: 0 10px 0 10px; float: left; background: #f6f6f6;} 
		#menu {width: 940px; height: 60px; margin: 0 10px 0 10px; float: left; background: #f9f9f9;}
		#content {width: 940px; height: 900px; margin: 0 10px 0 10px; float: left; background: #fbfbfb;}
		#sidebar{width: 240px; height: 900px; margin: 0 10px 0 10px; float: left; background: #8d8d8d;}
		#footer{width: 1440px; height: 240px; margin: 0 10px 0 10px; float: left; background: #6d6d6d;} 
}
@media (max-width: 1480px) {
		body {background: yellow;}
		.wrapper {margin:0 auto; width: 1220px; overflow: hidden;} 		
		#header {width: 220px; height: 960px; margin: 0 10px 0 10px; float: left; background: #f6f6f6;} 
		#menu {width: 960px; height: 60px; margin: 0 10px 0 10px; float: left; background: #f9f9f9;}
		#content {width: 700px; height: 900px; margin: 0 10px 0 10px; float: left; background: #fbfbfb;}
		#sidebar{width: 240px; height: 900px; margin: 0 10px 0 10px; float: left; background: #8d8d8d;}
		#footer{width: 1200px; height: 240px; margin: 0 10px 0 10px; float: left; background: #6d6d6d;}
		} 
@media (max-width: 1280px) {
		body {background: pink;}
		.wrapper {width: 960px;} 
		#header {width: 940px; height: 140px;} 
		#menu {width: 940px; height: 40px;}
		#content {width: 700px; height: 780px;}
		#sidebar{width: 220px; height: 780px;}
		#footer{width: 940px; height: 240px;}
}
@media (max-width: 980px) {
		body {background: yellow;}
		.wrapper {width: 800px;} 		
		#header {width: 780px; height: 140px;} 
		#menu {width: 780px; height: 40px;}
		#content {width: 540px; height: 780px;}
		#sidebar{width: 220px; height: 780px;}
		#footer{width: 780px; height: 240px;}
}
@media (max-width: 800px) {
		body {background: pink;}
		.wrapper {width: 100%;} 		
		#header {width: 100%; height: 140px;} 
		#menu {width: 100%; height: 40px;}
		#content {width: 100%; height: 780px;}
		#sidebar{width: 100%; height: 780px;}
		#footer{width: 100%; height: 240px;}
}